<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>SongSendServices</display-name>
  
    
	<filter>
	        <filter-name>ObjectifyFilter</filter-name>
	        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	        <filter-name>ObjectifyFilter</filter-name>
	        <url-pattern>/*</url-pattern>
	</filter-mapping>  
  

  <servlet>
    <servlet-name>SongRestService</servlet-name>
    <!-- servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class -->
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
   
    <!-- Register JAX-RS Application, if needed. -->
    <init-param>
        <param-name>javax.ws.rs.Application</param-name>
        <param-value>com.flocompany.rest.resource.SongSendApplication</param-value>
    </init-param>  
    <!-- Register resources and providers under com.flocompany.rest.resource. -->
    <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
        <param-value>com.flocompany.rest.resource</param-value>
    </init-param>
    
    <!-- Register my custom provider (not needed if it's in my.package) AND LoggingFilter. -->
    <init-param>
        <param-name>jersey.config.server.provider.classnames</param-name>
        <param-value>com.flocompany.util.ResponseCorsFilter;org.glassfish.jersey.filter.LoggingFilter</param-value>
    </init-param>

	<init-param>
	  <param-name>jersey.config.server.response.setStatusOverSendError</param-name>
	  <param-value>true</param-value>
	</init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
		<servlet-name>Songsend_user_admin</servlet-name>
		<servlet-class>com.flocompany.servlet.UserAdminServlet</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>Songsend_friend_admin</servlet-name>
		<servlet-class>com.flocompany.servlet.FriendAdminServlet</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>Songsend_parameter_admin</servlet-name>
		<servlet-class>com.flocompany.servlet.ParameterAdminServlet</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>Songsend_song_admin</servlet-name>
		<servlet-class>com.flocompany.servlet.SongAdminServlet</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>Songsend_message_admin</servlet-name>
		<servlet-class>com.flocompany.servlet.MessageAdminServlet</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>Songsend_song</servlet-name>
		<servlet-class>com.flocompany.servlet.SongInterfaceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SongRestService</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>Songsend_user_admin</servlet-name>
	<url-pattern>/admin/user</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
	<servlet-name>Songsend_friend_admin</servlet-name>
	<url-pattern>/admin/friend</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
	<servlet-name>Songsend_parameter_admin</servlet-name>
	<url-pattern>/admin/parameter</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
	<servlet-name>Songsend_song_admin</servlet-name>
	<url-pattern>/admin/song</url-pattern>
  </servlet-mapping>   
  <servlet-mapping>
	<servlet-name>Songsend_message_admin</servlet-name>
	<url-pattern>/admin/message</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
	<servlet-name>Songsend_song</servlet-name>
	<url-pattern>/song</url-pattern>
  </servlet-mapping>  
  

	
	
  	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	
	<security-constraint>
	    <web-resource-collection>
	    	<web-resource-name>/admin/*</web-resource-name>
	     	<url-pattern>/admin/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>admin</role-name>
	    </auth-constraint>
	</security-constraint>
	
</web-app>
